@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

/* HEADING */

.nav-headings {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

/* CALLOUT */

.callout {
    margin-right: 5px;
    margin-top: 95px;
}

.callout-container {
    height: 100vh;
    margin: auto;

    background: url("../images/Banner.jpg") no-repeat fixed;
    background-color:#3c200d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
/*
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}
*/
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header1 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
}

.jumbo-hr {
    height: 1px;
    width: 75px;
    background-color: deeppink;
}

.jumbotron-header2 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
}

.jumbotron-text {
   color: white;    
}

.shop-now {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
    margin-bottom: 0;
}

.btn, .btn-success, .btn-lg {
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    background-color: rgb(255, 20, 147);
    border-color: rgb(255, 20, 147);
}

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(200, 20, 100);
    border-color: rgb(200, 20, 100);
}


/* BREAKPOINT */

.breakpoint {
    height: 30px;
    width: 100%;
}

/* BEST SELLERS */

 
.sellers {
    height: 600px;
}

.sellers h2, h3 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 5px;
}

.sellers h3 {
    text-align: center;
}

.sellers img {
    padding-top: 25px;
}

.product {
    height: 265px;
}

.brownie {
    text-align: center;
}

@media screen and (max-width: 1199px) {
    .sellers {
        width: 75%;
        height: 1150px;
        margin: 0 auto;
        }   
}

@media screen and (max-width: 767px) {
    .sellers {
        width: 85%;
        height: 2200px;
        margin: 0 auto;
        }   
}

/* IMG BREAKER */

.breaker img {
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}
/* FOOTER */

.footer {
    padding: 25px;
}