@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: whitesmoke;
}

/* HEADING */

.nav-headings {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    padding-top: 2px;
}

.nav-headings li {
    margin-left: 15px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

/* CALLOUT */

.callout {
    margin-right: 5px;
    margin-top: 105px;
}

.callout-container {
    height: 100vh;
    margin: auto;

    background: url("../images/Banner.jpg") no-repeat fixed;
    background-color:#3c200d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
/*
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}
*/
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header1 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
}

.jumbo-hr {
    height: 1px;
    width: 75px;
    background-color: deeppink;
}

.jumbotron-header2 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
}

.jumbotron-text {
   color: white;    
}

.shop-now {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: whitesmoke;
    margin-bottom: 0;
}

.btn, .btn-success, .btn-lg {
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    background-color: rgb(255, 20, 147);
    border-color: rgb(255, 20, 147);
}

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(200, 20, 100);
    border-color: rgb(200, 20, 100);
}


/* BREAKPOINT */

.breakpoint {
    height: 30px;
    width: 100%;
    background-color: whitesmoke;
}

/* BEST SELLERS */

 
.sellers {
    height: 620px;
    background-color: whitesmoke;
}

.sellers h2, .sellers h3 {
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    background-color: whitesmoke;
    margin: 0;
    padding-top: 5px;
}

.sellers h3 {
    text-align: center;
}

.sellers img {
    padding-top: 25px;
}

.product {
    height: 265px;
}

.brownie {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
    .sellers {
        width: 85%;
        height: 1150px;
        margin: 0 auto;
        }   
}

@media screen and (max-width: 989px) {
    .callout-container {
        height: 600px;
        }
}

@media screen and (max-width: 767px) {
    .sellers {
        width: 85%;
        height: 2200px;
        margin: 0 auto;
        }   
}

@media screen and (max-width: 350px) {
    .sellers img {
        padding-top: 25px;
        margin-left: -15px;
        }

    .callout {
        margin-top: 138px;
        padding-top: 10px;
        }

    .jumbotron {
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 290px) {
    .sellers img {
        padding-top: 25px;
        margin-left: -35px;
        }
}

/* GALLERY */
.gallery {
    background-color: white;
    padding: 110px 10px 5px 10px;
    line-height: 0;
    column-count: 4;
    column-gap: 10px;
    
}

.gallery img {
    width: 100%;
    display: block;
    padding: 5px 0px;
}

/* GALLERY MEDIA Q */

@media screen and (max-width: 1199px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (max-width: 767px) {
    .gallery {
        column-count: 1;
    }
}

/* ABOUT */
.about, .about h3 {
    font-family: 'Spartan', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    padding: 5px;
}

.about h3 {
    margin-top: 10px;
}

.about h1 {
    margin-bottom: 20px;
}

.about-container {
    height: 100vh;
    margin: auto;

    background: url("../images/about/love-hearts.jpg") no-repeat center;
    background-color:#3c200d;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-jumbotron {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2rem 2rem;
    margin: 160px 55px 50px 50px;
    display: flex;
    width: 550px;
}

.about-jumbotron img {
    width: 200px;
    height: 200px;
    margin: 10px 10px 0px;
    display: block;
    float: left;
    border-radius: 50%;
}

.about-jumbotron p {
    padding-top: 15px;
    text-transform: none;
    margin: 0;
    font-size: 120%;
}

.about-hr {
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-input {
    text-align: left;
    display: block;
    width: 100%;
    margin: 5px;
}

.btn-about p {
    padding: 0px
}

textarea {
    resize: none;
}

/* ABOUT MEDIA Q */

@media screen and (max-height: 900px) {
    .about {
        height: 900px;
    }
}

@media screen and (max-width: 550px) {
    .about {
        height: 1000px;
        padding-right: 15px;
        }  
    
    .about-jumbotron {
        width: 400px;
    }
    
    .about-jumbotron img {
        display: none;
    }
    .about-jumbotron h1 {
        font-size: 200%;
    }

    .about-jumbotron h3 {
        font-size: 150%;
    }
}

@media screen and (max-width: 349px) {
    .about-jumbotron {
        width: 300px;
    }
}

/* FOOTER */

.footer {
    padding: 25px;
    background: rgb(34, 33, 34);   
}

.socials {
    margin-bottom: 0;
    padding: 0;
}

.socials li {
    display:inline;
}

.socials i {
    font-size: 150%;
    margin: 2px 5px;
    padding: 5px;
    color: whitesmoke;
}
